<a href="https://colab.research.google.com/github/ToluSh/Classwork/blob/main/DataTypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
Sample_list = [2, 3, 6]
i = 1
for j in Sample_list:
    i = i * j
print(i)

36

In [23]:
import operator
 
def sort_tuples(tuples, key):
    return sorted(tuples, key=operator.itemgetter(key))
 
tuples = [(2, 5), (1, 2), (4, 4), (2, 3), (2,1)]
key = 1
print(sort_tuples(tuples, key))

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [89]:
import operator
 
def sort_tuples(tuples, key):
    return sorted(tuples, key=operator.itemgetter(key))
 
tuples = [('item1', '12.20'), ('item3', '24.5'),('item2', '15.10')]
key = 0
print(sort_tuples(tuples, key))

[('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]

In [56]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}

for key in d2:
    if key in d1:
        d2[key] = d1[key] + d2[key]
    else:
          pass
print(d2)

{'a': 400, 'b': 400, 'd': 400}

In [86]:
n = 8
for i in range (1,n+1):
    j = {i:i*i}
    print(j)

{1: 1}
{2: 4}
{3: 9}
{4: 16}
{5: 25}
{6: 36}
{7: 49}
{8: 64}

In [95]:
n = 8
for i in range (1,n+1):
    z = {i}
    print(z)

{1}
{2}
{3}
{4}
{5}
{6}
{7}
{8}