<a href="https://colab.research.google.com/github/ToluSh/Classwork/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def max_number(a,b,c):
    return max(a,b,c)
print(max_number(20,35,19))

35

In [2]:
def calculation(a,b):
    x =lambda a,b: a+b
    y =lambda a,b: a-b
    return x(a,b),y(a,b)
print(calculation(40,10))

(50, 30)

In [3]:
n = 8
j= {}
for i in range (1,n+1):
    j[i] = i*i
print(j)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [47]:
z = [1,2,3,4,5]
print(z.index(1))
#print(z[1])

0

In [10]:
thisdict = {"a": "ford","b": "toyota","c": "peugeot"}
h = {}
def dis_firstletter(thisdict):
    o = thisdict.values()
    for i in o:
        h[i] = i.capitalize()
    #v = o.capitalize()
    return h.values()
print(dis_firstletter(thisdict))

dict_values(['Ford', 'Toyota', 'Peugeot'])

In [11]:
thatdict = {"a": "ford","b": "toyota","c": "peugeot"}

def sec_firstletter(thatdict):
    d = thatdict.values()
    x = list(d)
    for i in d:
        r = max(x,key=len)
    return r
print(sec_firstletter(thatdict))

peugeot

In [13]:
colors = input()

def sorted_colors(colors):
    e = list(colors.split('-'))
    i = sorted(e,key=None)
    return '-'.join(i)
print(sorted_colors(colors))

green-blue-yellow-gray-orange
blue-gray-green-orange-yellow

In [12]:
import math

def calc_prn():
    c = 50
    h = 30
    mystring = ""
    d = input()
    s = d.split(',')
    for i in s:
        q = math.sqrt((2 * c * int(i))/h)
        x = round(q)
        mystring += str(x) +","
    return mystring[0:-1]
print(calc_prn())

100,150,180
18,22,24